@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.App {
  text-align: center;
}

body {
  display: block;
  margin: 0px;
}

.button-black {
  text-decoration: none;
  color: white;
  padding: 17px 80px;
  margin-top: 500px;
  background-color: #181619;
}

.carousel {
  min-width: 750px;
  max-width: 750px;
}

.describe {
  min-width: 550px;
  display: flex;
  justify-content: center;
}

.visitar {
  padding: 10px 20px;
  /* border-radius: 5px; */
  opacity: 0.7;
  background-color: aliceblue;
}

.visitar:hover {
  opacity: 1;
}